{%extends 'crud_productos.html'%} {%block bloque%}

<center><h2>Listado de productos</h2></center>

<table
  style="width: 90%; text-align: center"
  id="tabla"
  border="1"
  align="center"
>
  
    <thead style="text-align: center">
      <th style="text-align: center">ID</th>
      <th style="text-align: center">Nombre</th>
      <th style="text-align: center">Qty</th>
      <th style="text-align: center">Unidad</th>
      <th style="text-align: center">Precio</th>
      <th style="text-align: center">% de Promoción</th>
      <th style="text-align: center">Calificacion</th>
      <th style="text-align: center">Categoria</th>
      <th style="text-align: center">Aplica el descuento</th>
      {% if not session=='Usuario externo' %}
        <th style="text-align: center"># de Ventas</th>
        <th style="text-align: center">Total de ventas</th>
        <th style="text-align: center">Total descontado</th>
        <th style="text-align: center">Dado de Baja</th>
      {%endif%}
    </thead>
    <tbody style="text-align: center">
    {% for r in row %}
    <tr>
      <td style="text-align: center">{{ r ["id_producto"] }}</td>
      <td style="text-align: center">{{ r ["nombre_producto"] }}</td>
      <td style="text-align: center">{{ r ["qty"] }}</td>
      <td style="text-align: center">{{ r ["unidad"] }}</td>
      <td style="text-align: center">{{ r ["precio"] }}</td>
      <td style="text-align: center">{{ r ["promocion"] }}</td>
      <td style="text-align: center">{{ r ["calificacion"] }}</td>
      <td style="text-align: center">{{ r ["categoria"] }}</td>
      <td style="text-align: center">{{ "Si" if(r ["aplica_descuento"]) else "No" }}</td>
      {% if not session=='Usuario externo' %}
        <td style="text-align: center">{{ r ["num_ventas"] }}</td>
        <td style="text-align: center">{{ r ["total_ventas"] }}</td>
        <td style="text-align: center">{{ r ["acum_descontado"] }}</td>
        <td style="text-align: center">{{ r ["baja"] }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{%endblock%}
