{% extends "base.html" %}
{% block contenido %}
    <div class="col s8 offset-s1 m3 offset-m3 l4 offset-l4">
    <br>
    <figure><img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="UserImage" height="300rem"></figure>
    </div>
    <div class="col s12 m6 offset-m3 ">
    
    <form action="" method="post" name="formInicioSesion">
    {{ form.username.label }} 
    {{ form.username }}   
    {{ form.password.label }} 
    {{ form.password }}   
    <p>
        <button type="submit" id="guardarCambios">Iniciar Sesion</button>
    </p> 
    </form>
</div>
{% endblock %}